.iutop {
height: 130px;
background-repeat: no-repeat;
background-color: #DF0022;
}


ul.iusocial {
font-size: 25px;
float: right;
margin-top: -40px;
}
ul.iusocial i{
font-size: 25px;
color: #CCC;

}

ul.iusocial i:hover{
color: #DF0022;

}

.iunavbar {
background-color: #fff;

}


.iunavbar .navbar-inverse .navbar-nav > .active > a, 
.iunavbar .navbar-inverse .navbar-nav > .active > a:hover, 
.iunavbar .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus 
{
    color: #fff;
    background-color: #fff;

}

.iunavbar  .navbar-inverse .navbar-nav > li > a {
   color: #DF0022;
}


.iunavbar .navbar-inverse .navbar-nav > li > a:hover, .iunavbar .navbar-inverse .navbar-nav > li > a:focus {
       color: #DF0022;
    background-color: transparent;
}

.iunavbar .navbar-inverse .navbar-nav > li > a:hover, .iunavbar.navbar-inverse .navbar-nav > li > a:focus {
      color: #DF0022;

    background-color: transparent;

}

.iunavbar .navbar-inverse .navbar-nav > li > a , .iunavbar  .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a{
      color: #DF0022 !important;
}

.iunavbar .navbar-nav > li > a {
    padding: 10px;
}
	
.navbar {
min-height: 30px !important;
border: none;
}

.iutitle {
color: #fff;
font-size: 30px;
float: right;
padding: 10px;
font-family: sans-serif;
font-weight: bold;
margin-top: 1em;
}

.footer-tail-sidebars {
    background-color: #B3B3B3 !important ;
    padding-top: 25px;
    padding-bottom: 25px;
   color: #898989;
}

.footer-tail-sidebars {
	border: none !important;
	}

	.footer-tail-sidebars ul.menu {
list-style-type: none;
font-weight: bold;
	}

	.entry-title {
color: #DF0022 !important;
}
.entry-title a {
color: #DF0022 !important;
}

.entry-wrapper-inside h2 {
font-size: 20px;

}